In [ ]:
import numpy as np

data = np.genfromtxt(
    'data/example_data.csv', delimiter=';', 
    names=True, dtype=None, encoding='UTF'
)
data

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

In [3]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.
  Using cached pandas-1.2.4-cp38-cp38-win32.whl (8.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.2.4

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

ModuleNotFoundError: No module named 'seaborn'

In [7]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from seaborn) (1.2.4)
Collecting scipy>=1.0
  Using cached scipy-1.6.3-cp38-cp38-win32.whl (29.5 MB)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.4.2-cp38-cp38-win32.whl (7.0 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from seaborn) (1.20.3)
Collecting pillow>=6.2.0
  Downloading Pillow-8.2.0-cp38-cp38-win32.whl (1.9 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp38-cp38-win32.whl (42 kB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: six in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: pillow, kiwisolver, cycler, scipy, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 pillow-8.2.0 scipy-1.6.3 seaborn-0.11.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
df = pd.read_csv('data/earthquakes.csv')

In [9]:
df.empty

False

In [10]:
df.shape

(9332, 26)

In [11]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [12]:
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

In [13]:
df.tail(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.45260,NaN,276.0,",pr2018261000,",2.40,md,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01865,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01698,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [14]:
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.4+ MB

In [16]:
df.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
25%,2.000000,0.020425,1.000000,66.142500,0.720000,2.680000,8.000000,0.119675,8.000000,1.537793e+12,0.000000,-540.000000,1.537996e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
75%,3.300000,0.177250,5.000000,159.000000,1.900000,4.570000,25.000000,0.590000,56.000000,1.538766e+12,0.000000,-480.000000,1.539110e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [17]:
df.describe(percentiles=[0.05, 0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
5%,2.000000,0.005491,1.000000,35.000000,-0.040000,0.000000,4.000000,0.030000,0.000000,1.537344e+12,0.000000,-600.000000,1.537387e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
95%,4.300000,2.678900,40.200000,276.000000,4.400000,6.380000,49.000000,0.960000,298.000000,1.539319e+12,0.000000,-60.000000,1.539400e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [18]:
df.alert.unique()

array([nan, 'green', 'red'], dtype=object)

In [19]:
df.alert.value_counts()

green    58
red       1
Name: alert, dtype: int64

In [20]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (3.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: six in c:\users\lg\desktop\summer1\hw\hw2\ch2env\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

In [22]:
print (df)

     alert   mag magType                             place           time  \
0      NaN  1.35      ml             9km NE of Aguanga, CA  1539475168010
1      NaN  1.29      ml             9km NE of Aguanga, CA  1539475129610
2      NaN  3.42      ml             8km NE of Aguanga, CA  1539475062610
3      NaN  0.44      ml             9km NE of Aguanga, CA  1539474978070
4      NaN  2.16      md             10km NW of Avenal, CA  1539474716050
...    ...   ...     ...                               ...            ...
9327   NaN  0.62      md      9km ENE of Mammoth Lakes, CA  1537230228060
9328   NaN  1.00      ml               3km W of Julian, CA  1537230135130
9329   NaN  2.40      md  35km NNE of Hatillo, Puerto Rico  1537229908180
9330   NaN  1.10      ml             9km NE of Aguanga, CA  1537229545350
9331   NaN  0.66      ml             9km NE of Aguanga, CA  1537228864470

                                         title  tsunami
0                M 1.4 - 9km NE of Aguanga, CA        0
1                M 1.3 - 9km NE of Aguanga, CA        0
2                M 3.4 - 8km NE of Aguanga, CA        0
3                M 0.4 - 9km NE of Aguanga, CA        0
4                M 2.2 - 10km NW of Avenal, CA        0
...                                        ...      ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA        0
9328               M 1.0 - 3km W of Julian, CA        0
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico        0
9330             M 1.1 - 9km NE of Aguanga, CA        0
9331             M 0.7 - 9km NE of Aguanga, CA        0

[9332 rows x 7 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

#df_place = df.groupby(["parsed_place"])
df_japan  = df_place.get_group("Japan")
df_japan.tail(2)
df_japan.quantile(0.95)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

#df_place = df.groupby(["parsed_place"])
df_japan  = df_place.get_group("Japan")
df_japan.tail(2)
df_japan.quantile(0.95)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv', usecols=['time', 'title', 'place',
            'magType', 'mag', 'alert','tsunami'])

df_place = df.groupby(["place"])
df_japan  = df_place.get_group("Japan")
df_japan.tail(2)
df_japan.quantile(0.95)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df.loc[
    (df.place.str.contains('Japan')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

df_japan.tail(2)
df_japan.quantile(0.95)

In [ ]:
df.loc[
    (df.place.str.contains('Japan')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/parsed.csv')

df_place = df.groupby(["place"])
df_japan  = df_place.get_group("Japan")
df_japan.tail(2)
df_japan.quantile(0.95)

KeyError: 'Japan'